#particles-js {
    position: absolute;
    margin-top: 0%;
    z-index: -1;
    background-image: url("../img/geo.jpg");
    background-color: #2c3531;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

#paul {
    margin-top: 10%;
}

@media (min-width: 768px) {

    #paul {
        margin-top: 10%;
    }
}