<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>EncryptNode</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' />

    <!-- Custom styles for this template -->
    <link href="/css/agency.css" rel="stylesheet" />
    <link href="/css/particle.css" rel="stylesheet" />



  </head>

  <body id="page-top">

    <!-- Navigation -->
    <div id="particles-js"></div>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">EncryptNode</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="in">LOG IN</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div  class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To EncryptNode!</div>
          <div class="intro-heading text-uppercase">LET'S BLOCK</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 text-center">

            <h2 class="section-heading text-uppercase" id="paul">Technology</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Block Chain</h4>
            <p class="text-muted">EncryptNode aims to simplify blockchain technology and make it accessible to everyone</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-cog fa-spin fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Mining</h4>
            <p class="text-muted">Mine for blocks using our mining application and get rewarded with EncyptNodes!</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Security</h4>
            <p class="text-muted">Hashed using a SHA256 encryption algorithm; EncryptNode is both efficient and secure!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/logo.png" alt="" />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2007</h4>
                    <h4 class="subheading">Our Founders Meet</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Tyler and Paul meet and form a friendship that will last a life time. Over the years they develop a passion for cryptocurrencies and blockchain technology. Ideas start brewing...</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/logo.png" alt="" />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>April 2018</h4>
                    <h4 class="subheading">Pursuing a Dream</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Tyler and Paul attend a workshop put on by a coding bootcamp in Seattle, Wa. That was the day they both knew that a life change was needed. Both quit their jobs and enroll into a coding bootcamp to further their education, with they're love for blockchain fueling them along the way</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/logo.png" alt="" />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>August 2018</h4>
                    <h4 class="subheading">MVP Achieved</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">After weeks of research and development, Paul and Tyler are given the opportunity to fulfil their dream. Their instructor, mentor, and best friend Steve, commissioned them with the task to build the greatest blockchain ever</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/logo.png" alt="" />
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>August 2018</h4>
                    <h4 class="subheading">Project Complete!</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">We are proud to present to you, EncryptNode!</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Team</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/img/team/tyler.JPG" alt="" />
              <h4>Tyler Pearson</h4>
              <p class="text-muted">Co-Founder/Full Stack Software Developer</p>
              <p class="text-muted">Software Developer born and raised in Seattle, Wa. Tyler has always had a passion for technology, and wants to use blockchain to change the world.</p>
              <ul class="list-inline social-buttons">

                <li class="list-inline-item">
                  <a href="https://github.com/louiethe17th">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/tylerpearsonpnw/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/img/team/paul.jpeg" alt="" />
              <h4>Paul Suarez</h4>
              <p class="text-muted">Co-Founder/Full Stack Software Developer</p>
              <p class="text-muted">Software Developer and blockchain enthusiast. Paul's passion for technology and years of sales management fueled his desire to change the world with EncryptNode.</p>
              <ul class="list-inline social-buttons">

                <li class="list-inline-item">
                  <a href="https://github.com/PaulSuarez1">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/paulsuarezsales/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Contact us if you have any questions!</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name." />
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address." />
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; EncryptNode 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">

              <li class="list-inline-item">
                <a href="https://github.com/encryptnode">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    
  


    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/agency.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <script src="/js/particle.js"></script>

  </body>

</html>
