<html>

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>EncryptNode</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet" />

        <!-- Custom fonts for this template -->
        <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' />

        <!-- Custom styles for this template -->
        <link href="/css/agency.css" rel="stylesheet" />
        <link href="/css/particle.css" rel="stylesheet" />



    </head>





<body id="page-top">

<!-- Navigation -->
<div id="particles-js"><style>#particles-js {height: 100px;}</style></div>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">EncryptNode</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<section id="services">
    <div class="container">
        <br />
        <br />
        <div class="row text-center">
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-sign-in fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Login</h4>
                <p class="text-muted">


                <form action="/auth/login" method="POST">
                <div>Username:  <input name="username" /></div>
                <br />
                <div>Password:  <input name="password" type="password" /></div>
                <br />
                <input type="submit" />
            </form>


                </p>
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-sign-out fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Logout</h4>
                <p class="text-muted">

                <form action="/auth/logout" method="POST">
                    <input type="submit" />
                </form>

                </p>
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Sign Up</h4>
                <p class="text-muted">

                <form action="/auth/register" method="POST">
                <div>Username: <input name="username" /></div>
                <br />
                <div>Password: <input name="password" type="password" /></div>
                <br />
                <input type="submit" />
            </form>

                </p>
            </div>
        </div>
    </div>
</section>


<!-- Bootstrap core JavaScript -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.bundle.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.js"></script>

<!-- Contact form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/agency.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<script src="/js/particle.js"></script>
</body>

</html>